body{
    background-color: #1a1a1a;
}
h1.user{
    font-family: Verdana;
    color: #a3bbd2;
    font-size: 30px;
}
h1.post_title{
    font-family: Verdana;
    color: #a3bbd2;
    font-size: 45px;
}
div.post_description{
    font-family: Verdana;
    color: #a3bbd2;
    font-size: 20px;
}
